*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #5A12A3; */
}

.bg--gray{
    background-color:#2824D40A;
}

.bg--white{
    background-color: white;
}

.brand img{
    width: 90px;
    height: 50px;
}

nav{
    padding-top: 1rem;
    margin-bottom: 3.1rem;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

*a{text-decoration: none;}

nav a{
    text-decoration: none;
    color: #5027C3;
}

.nav-item-list{
    display: flex;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 3.2rem;
    background: #68687e81;
    border-radius: 5px;
    padding-bottom: .5rem;
}

.dropdown-content a{
    color:#5127c3bd;
    display: block;
    padding: .3rem 1rem;
    border-bottom: 1px solid #5127c32d;
}

.dropdown-content a:last-child, .dropdown-content a:first-child{
    border-bottom: none;
}

.services:hover .dropdown-content {
    display: block;
}

.nav-link:hover a{
    border-bottom: 1px solid #5127c3bd;
}

.nav-toggler{
    display: none;
    background: inherit;
}

/* ----main content header section---- */

.main-content{
    padding-bottom: 5rem;
}
.main-intro-text h3{
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 1rem;
    width: 30rem;
    font-weight: 700;
    color: #5027C3;
}

.main-intro-text p{
    font-weight: 300;
    font-size:  25px;
    line-height: 38px;
    color: #5027C3;
    width: 16.5rem;
    margin-bottom: 2rem;
}

.get-started-btn{
    font-weight: 400;
    font-size: 25px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color:#5D43A7;
    color: white;
    padding: 0.9rem 2.9rem;
    text-decoration: none;
    border-radius: 10px;
}

.my-button:hover{
    box-shadow: 0px -4px 4px 0px #00000040;
    color: white;
}

.get-started-btn:hover{
    background-color: #511ddf;
}

.nav-item .active{
    background-color:#36E1B830 !important;
    color: #5027C3 !important;
} 

/* ---gift categories ----- */
.gift-category-tab{
    padding-bottom: 5rem;
}

.card-col .gift-card{
    background: #36E1B830;
}

/* ---first card item---- */
.card-col:nth-child(1) .card{
    background: #36E1B830;
}
.card-col:nth-child(1) .btn-group{
    background: #36E1B852;
}
.card-col:nth-child(1) .price{
    background: #36E1B8;
}

/* ---second card item ---- */
.card-col:nth-child(2) .card{
    background: #FFC1071A;
}
.card-col:nth-child(2) .btn-group{
    background:#FFC10730;
}
.card-col:nth-child(2) .price{
    background: #FFC107;
}

/* ---third card item ---- */
.card-col:nth-child(3) .card{
    background: #FF3D0021;
}
.card-col:nth-child(3) .btn-group{
    background: #FF3D0014;
}
.card-col:nth-child(3) .price{
    background: #FF3D00;
}




.gift-card{
    /* width: 21.6rem; */
    height: 33.5rem;
    justify-content: space-around;
    align-items: center;
}

.gift-card img{
    width: 248px;
    height: 250px;
    border-radius: 20px;
    margin-top: 1rem;
}

.card-content{
    width: 15.5rem;
}

.card-desc{
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.btn-group{
    background: #36E1B852;
    border-radius: 50px;
    width: 14.7rem;
    margin-bottom: 1rem;
}

.btn-group a{
    text-decoration: none;
    color: #5D43A7;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.price{
    padding: 1rem 1.4rem;
    background: #36E1B8;
    border-radius: 50px;
}

.get-it{
    padding: 1rem 1.4rem;
}


/* ----explore section----- */
.explore{
    margin-bottom: 6.8rem;
}

.explore-intro-text{
    margin-bottom: 3.5rem;
}

.title{
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color:#5027C3;
}

.explore-intro p{
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}


/* ---explore cards---- */
.explore-card{
    background: #FF3D0012;
    height: 305px;
    width: 359px;
    left: 133px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.5rem;
}


.explore-img{
    height: 100px;
    width: 100px;
    margin-top: 3rem;
}
.explore-card span{
    margin-left: 1rem;
}

.explore-card a{
    padding: 0.7rem 3rem 0.7rem 3rem;
    background: #FF3D00;
    border-radius:25px;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    color: white;
}

.explore-card div{
    margin-bottom: 1rem;
}

.explore-card-content .card-title{
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color:#5D43A7;
    margin-bottom: 1rem;
}

.explore-card-content .card-desc{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}

/* ----end of explore cards */

/* ---start of second section---- */
.second-section{
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.section-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-intro h3{
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    text-align: left;
}

.section-intro p{
    width: 327px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

/* ----steps--- */
.steppers{
    position: absolute;
}
.steppers img{
    height: 520px; 
    margin-top: 2rem;
}


.step{
    height: 93px;
    width: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.step:nth-child(1){
    background: #C9E13621;
}
.step:nth-child(2){
    background: #36E1B830;
}
.step:nth-child(3){
    background: #7527C31A;
}
.step:nth-child(4){
    background: #53867A1A;
}
.step:nth-child(5){
    background: #FF8A651A;
}

.step img{
    height: 32px;
    width: 32px;
}

/* ----end of steps */


/* ----start of third section */
.third-section{
    padding-top: 4rem;
    padding-bottom: 6.8rem;
}

.section-title{
    margin-bottom: 5rem;
}

/* ---testimonials section ---- */
.testimonial-card{
    height: 154px;
    /* width: 351px; */
    border-radius: 12px;
    background: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-card #test-title p{
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}
.testimonial-card #test-title span{
    margin-right: 1rem;
}


#testimony{
    width:265px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

/* -----footer section---- */

footer{
    margin-top: 9.5rem;
}
.footer-logo{
    margin-top: 1rem;
}

.footer-text-header{
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}

.footer-text{
    font-weight: 300;
    font-size: 1.56em;
    line-height: 38px;
}



/* --------- media queries ------------- */
@media only screen and (max-width: 992px) {
    .main-intro-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second-section .section-intro{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
    .second-section .intro-desc{
        width: 307px;
    }
    

    .main-intro-text h3{
        width: 100%;
        text-align: center;
    }

    .main-intro-text p{
        width: fit-content;
    }

    .hero-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width: 768px) {
      
    
.bg--gray{
    background-color:#2824D40A;
    /* background-color: blue; */
}

.nav-toggler{
    display: block;
}

.nav-item-list{
    display:none;
}

.md-center{
    justify-content: center;
}

}


@media only screen and (max-width: 576px) {
    .main-intro-text h3{
        font-size: 40px;
        line-height: 50px; 
        margin-bottom: .5rem;
    }

    .main-intro-text p{
        font-size: 20px;
        margin-bottom: 1rem;
    }   

    .explore-card .my-button{
        font-size: 20px;
    }

    

}
