*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #5A12A3; */
}

body{
    background: url("../images/signup-bg.png") center/cover fixed no-repeat;
}


/* ----user profile---- */
.user-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
    padding: 2rem;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.desc{
    margin-top: 1.5rem;
}

.desc p{
    font-size: 23px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    width: 436px;
    color: white;
}





/* ---login section---- */
.card{
    padding: 2rem 7rem;
    height: 668px;
    border-radius: 13px !important;
    color: #A6A8AB;
}

.signup-form h4{
    margin-bottom: 5.4rem;
    font-size: 30px;
    font-weight: 300;
}
#or{
    font-size: 30px;
    font-weight: 300
}

.form-group{
    margin-bottom:2rem;
}

#google-link{
    text-decoration: none;
    color: #A6A8AB;
    font-size: 23px;
    font-weight: 300;
}

.link{
    background: #5D43A70A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card input{
    text-align: center;
    padding: 0 1rem;
    background: #5D43A70A;
}
.card input::placeholder{
    color: #A6A8AB;
    font-size: 23px;
    font-weight: 200;
}

.card input, .card button,.link{
    height: 3.75rem;
    width: 100%;
    border-radius: 13px;
}

.card span{
    margin-right: 1rem;
}

.card button{
    background: #5D43A7 !important;
    color: white;
    font-size: 30px;
    font-weight: 200;
}

.card button:hover{
    color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.411);
}


/* ------media queries------ */
@media (min-width: 991.98px) {
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
 }


 @media (max-width: 991.98px) { 
     .main-content{
        margin-top: 3rem;
        margin-bottom: 5rem;
     }
     .title{
        font-size:40px;
        font-weight: 600;
    }
    .desc p{
        font-size: 20px;
        width: 400px;
        line-height: 25px;
    }
    .signup-form h4{
        font-size:25px;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    #google-link{
        font-size: 20px;
        font-weight: 300;
    }
    .card input::placeholder{
        font-size: 20px;
    }
    .card button{
        font-size: 25px;
    }

 }

 @media (max-width: 767.98px) { 
    .card{
        padding: 1rem 5rem;
    }
    .desc p{
        padding: 1rem 3rem;
    }
 }

 @media (max-width: 575.98px) {
    .card{
        padding: 2rem 3rem;
        /* width: 250px; */
    }
    .signup-form h4{
        font-size:22px;
    }
    #google-link{
        font-size: 18px;
    }
    .card input::placeholder{
        font-size: 18px;
    }
    .card button{
        font-size: 20px;
    }
 }