*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #5A12A3; */
}

.bg--col{
    background: #5D43A7;
}

.full-content-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .wrapper{
    padding-top: 6rem;
} */

.main-container{
    display: flex;  
    /* flex-flow: column-reverse; */
}

/* -----intro section starts ---- */
.title h3{
    font-size: 50px;
    font-weight: 700;
    color: #21F9D2;
}

.intro p{
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 200;
    line-height: 16px;
    color: #FFFFFF;

}
/* -----intro section ends ---- */
label{
    font-size: 15px;
    font-weight: 400;
    color: rgb(46, 43, 43);
}
input{
    height: 3.4rem;
    border-radius: 12px !important;
}
#cta{
    width: 100%;
    height: 55px;
    background: #21F9D2;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2rem;
}

.credentials .row{
    margin-top: 2px;
}
.hero-image{
    display: flex;
    justify-content: flex-end;
}


/* ----footer section starts  */
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
footer li{
    list-style-type: none;
    margin-top: 1rem;   
    margin-right: 3.6rem;
}

footer a{
    text-decoration: none;
    color: white; 
    font-size: 20px;
    font-weight: 400;
}

footer a:hover{
    color: white;
}
#ig{
    margin-right: .5rem;
}

/* ----footer section ends  */


/* --- media queries ---- */
@media (max-width: 1200px) {
    .title h3{
        font-size: 40px;
    }
    
    input{
        height: 3rem;
    }
    #cta{
        height: 2.8rem;
    }
    .credentials .row{
        margin-top: 0;
    }
}
@media (max-width: 992px) {
    .title h3{
        font-weight: 500;
        margin-top: 1rem;
    }
    .intro p{
        font-weight: 100;
    }
    #cta{
        font-size: 18px;
        font-weight: 200;
    }
    .hero-image{
        justify-content: center;
    }
    footer{
        justify-content: center; 
        margin-bottom: 3rem;
    }
    footer li{
        margin-bottom: 1rem;  
    }
}

@media (max-width: 576px) { 
    .title h3{
        font-size: 34px;
        font-weight: 500;
        margin-top: 1rem;
    }
    .intro p{
        font-weight: 100;
        font-size: 13px;
    }
    input::placeholder{
        font-size: 13px;
    }
    
    footer a{
        font-size: 14px;
    }
    footer li{
        margin-bottom: 0;
    }
}
/* --- media queries ends  ---- */